<p id="notice"><%= notice %></p>

<p>
  <strong>Edition:</strong>
  <%= @copy.edition_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @copy.location_id %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @copy.owner_id %>
</p>

<p>
  <strong>Lost:</strong>
  <%= @copy.lost %>
</p>

<%= link_to 'Edit', edit_copy_path(@copy) %> |
<%= link_to 'Back', copies_path %>
