<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @copy.book_id %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @copy.isbn %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @copy.edition %>
</p>

<p>
  <strong>Amazon:</strong>
  <%= @copy.amazon_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @copy.location_id %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @copy.owner_id %>
</p>

<%= link_to 'Edit', edit_copy_path(@copy) %> |
<%= link_to 'Back', copies_path %>
